<div>
    <h2 id="page-heading">
        <span jhiTranslate="financeiroApp.movimentacao.home.title">Movimentacaos</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="movimentacaos?.length === 0">
        <span jhiTranslate="financeiroApp.movimentacao.home.notFound">No movimentacaos found</span>
    </div>

    <div>
        <h4>Cliente: <span>{{cliente!.nome}}</span></h4>
    </div>
    <div>
        <h5>Saldo Atual: <span>{{cliente!.saldo!.valor | currency:'BRL':true}}</span></h5>
    </div>
    <div class="table-responsive" id="entities" *ngIf="movimentacaos && movimentacaos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col" ><span jhiTranslate="financeiroApp.movimentacao.valor">Valor</span></th>
                <th scope="col" ><span jhiTranslate="financeiroApp.movimentacao.descricao">Descricao</span></th>
                <th scope="col" ><span jhiTranslate="financeiroApp.movimentacao.tipoMovimento">Tipo Movimento</span></th>
                <th scope="col" ><span jhiTranslate="financeiroApp.movimentacao.usuario">Usuario</span></th>
                <th scope="col" ><span jhiTranslate="financeiroApp.movimentacao.data">Data</span></th>


            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let movimentacao of movimentacaos ;trackBy: trackId">
                <ng-container *ngIf="movimentacao.tipoMovimento == 'SAIDA'">
                    <td [ngStyle]="{'color': 'Red'}">- {{ movimentacao.valor  | currency:'BRL':true}}</td>
                </ng-container>
                <ng-container *ngIf="movimentacao.tipoMovimento == 'ENTRADA'">
                    <td [ngStyle]="{'color': 'Green'}">+ {{ movimentacao.valor  | currency:'BRL':true}}</td>
                </ng-container>

                <td [ngStyle]="{'color': movimentacao.tipoMovimento == 'SAIDA' ? 'Red' : 'Green'}" >{{ movimentacao.descricao }}</td>
                <td [ngStyle]="{'color': movimentacao.tipoMovimento == 'SAIDA' ? 'Red' : 'Green'}">{{ movimentacao.tipoMovimento }}</td>
                <td [ngStyle]="{'color': movimentacao.tipoMovimento == 'SAIDA' ? 'Red' : 'Green'}">{{ movimentacao.usuario }}</td>
                <td [ngStyle]="{'color': movimentacao.tipoMovimento == 'SAIDA' ? 'Red' : 'Green'}">{{ movimentacao.data | date:'medium' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<style type="text/css">
.red {
    color: red;
}

.green {
    color: green;
}
</style>
