<div>
    <h2 id="page-heading">
        <span jhiTranslate="financeiroApp.movimentacao.home.title">Movimentacaos</span>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="movimentacaos?.length === 0">
        <span jhiTranslate="financeiroApp.movimentacao.home.notFound">No movimentacaos found</span>
    </div>

    <div>
        <h4>Cliente: <span>{{cliente!.nome}}</span></h4>
    </div>
    <div>
        <h5>Saldo Atual: <span>{{cliente!.saldo!.valor | currency:'BRL':true}}</span></h5>
    </div>
    <div class="table-responsive" id="entities" *ngIf="movimentacaos && movimentacaos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col" ><span jhiTranslate="financeiroApp.movimentacao.valor">Valor</span></th>
                <th scope="col" ><span jhiTranslate="financeiroApp.movimentacao.data">Data</span></th>
                <th scope="col" ><span jhiTranslate="financeiroApp.movimentacao.tipoMovimento">Tipo Movimento</span></th>
                <th scope="col" ><span jhiTranslate="financeiroApp.movimentacao.usuario">Usuario</span></th>
                <th scope="col" ><span jhiTranslate="financeiroApp.movimentacao.descricao">Descricao</span></th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let movimentacao of movimentacaos ;trackBy: trackId">

                <td>{{ movimentacao.valor  | currency:'BRL':true}}</td>
                <td>{{ movimentacao.data | date:'medium' }}</td>
                <td jhiTranslate="{{ 'financeiroApp.TipoMovimento.' + movimentacao.tipoMovimento }}">{{ movimentacao.tipoMovimento }}</td>
                <td>{{ movimentacao.usuario }}</td>
                <td>{{ movimentacao.descricao }}</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
